@charset "UTF-8";
/*第三方库
--------------*/
/*导入函数
--------------*/
/*业务变量
--------------*/
/*配置颜色
* 命名规则
*  _color  ,__status, -size 优先性如该顺序
*/
/*字体颜色
-------------------*/
/*主色调
-------------------*/
/*功能颜色
-------------------*/
/*--------------------------------------- open to Expand，close to Modify*/
/*this is color map lists (interfaces)*/
/*主题变量*/
/*文字排版*/
/*字体大小*/
/*字体粗度*/
/*标题字体大小*/
/*自定义字体大小*/
/*input padding*/
/*the interface to operate the map of some values*/
/*key is size*/
/*key is status*/
/*key is status*/
/*-----------------以下是向外部暴露的className----------------------*/
/*基础样式与重置样式
--------------*/
body {
  margin: 0;
  font-size: 1rem;
  font-weight: normal; }

div {
  box-sizing: border-box; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

ul, ol {
  list-style-type: none; }

p {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

img {
  vertical-align: middle;
  border-style: none; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  border-image: none; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

.sampleBox, .sampleBox1, .sampleBox2, .sampleBox3, .sampleBox4, .sampleBox5 {
  border: 1px solid #dddddd; }

.sampleBox1 {
  width: 100px;
  height: 100px; }

.sampleBox2 {
  width: 200px;
  height: 200px; }

.sampleBox3 {
  width: 300px;
  height: 300px; }

.sampleBox4 {
  width: 800px;
  height: auto;
  padding: 20px; }

.sampleBox5 {
  width: 1000px;
  height: auto;
  padding: 20px; }

/*实用类全局命名空间
--------------*/
/*布局全局命名空间
--------------*/
.l-row__mid {
  display: flex;
  flex-flow: nowrap column;
  align-items: center; }

.l-col__mid {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center; }

.l-all__mid {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center; }

.l-row {
  display: flex;
  flex-flow: wrap row; }

.l-col {
  display: flex;
  flex-flow: wrap column; }

/*组件全局命名空间
--------------*/
.c-dialog {
  /*提示文字*/ }
  .c-dialog .o-btn, .c-dialog .o-btn__lg, .c-dialog .o-btn__mid, .c-dialog .o-btn__sm, .c-dialog .o-btn__xs, .c-dialog .o-btn__normal, .c-dialog .o-btn__clear, .c-dialog .o-btn__hover, .c-dialog .o-btn__disabled, .c-dialog .o-btn__tool, .c-dialog .o-btn__ftWhite, .c-dialog .o-btn__ftBlack, .c-dialog .o-btn__radius, .c-dialog .o-btn__border {
    margin: 0 20px; }

/*尺寸*/
/*颜色*/
/*对象全局命名空间
--------------*/
/*按键类*/
.o-btn, .o-btn__lg, .o-btn__mid, .o-btn__sm, .o-btn__xs, .o-btn__normal, .o-btn__clear, .o-btn__hover, .o-btn__disabled, .o-btn__tool, .o-btn__ftWhite, .o-btn__ftBlack, .o-btn__radius, .o-btn__border {
  cursor: pointer;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 44px;
  font-size: 14px;
  color: #231815;
  background: #dcdbdc;
  border-radius: 2px; }

/*尺寸*/
.o-btn__lg {
  width: 250px;
  height: 50px;
  font-size: 20px; }

.o-btn__mid {
  width: 180px;
  height: 44px;
  font-size: 18px; }

.o-btn__sm {
  width: 130px;
  height: 44px;
  font-size: 16px; }

.o-btn__xs {
  width: 80px;
  height: 30px;
  font-size: 12px; }

/*颜色*/
.o-btn__normal {
  background: #ffd944; }

.o-btn__clear {
  background: #fff; }

.o-btn__hover {
  background: #ffcb00; }

.o-btn__tool {
  background: #000; }

/*字体颜色*/
.o-btn__ftWhite {
  color: #fff; }

.o-btn__ftBlack {
  color: #000; }

/*圆角与边框*/
.o-btn__radius {
  border-radius: 22px; }

.o-btn__border {
  border: 1px solid #231815; }

/*按钮组*/
.o-btn__group .o-btn, .o-btn__group .o-btn__lg, .o-btn__group .o-btn__mid, .o-btn__group .o-btn__sm, .o-btn__group .o-btn__xs, .o-btn__group .o-btn__normal, .o-btn__group .o-btn__clear, .o-btn__group .o-btn__hover, .o-btn__group .o-btn__disabled, .o-btn__group .o-btn__tool, .o-btn__group .o-btn__ftWhite, .o-btn__group .o-btn__ftBlack, .o-btn__group .o-btn__radius, .o-btn__group .o-btn__border {
  margin: 20px; }

/*状态全局命名空间
--------------*/

/*# sourceMappingURL=xxbUI.css.map */
