// 水平居中盒子
@mixin horMidBox {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}

// 垂直居中盒子
@mixin verMidBox {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

// 水平垂直居中盒子
@mixin allMidBox {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

// 水平排列盒子
@mixin rowBox {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: flex-start;
}

// 竖直排列盒子
@mixin colBox{
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: flex-start;
}