/*文字排版*/
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size: 1rem !default;
$body-font-weight: normal;



/*字体大小*/
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;

/*字体粗度*/
$font-weight-light: 300 !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

/*标题字体大小*/
$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

/*自定义字体大小*/
$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

/*input padding*/
$input-padding-x-lg:.5rem!default;
$input-padding-y-lg:1rem!default;
$input-btn-padding-y-lg:.5rem!default;
$input-btn-padding-x-lg:.75rem!default;


$zindex-fixed:100;


$border-radius:22px;







$bodyConfig: () !default;
$bodyConfig: map_merge((
        font-fimily:$body-font-family,
        font-size:$body-font-size,
        font-weight:$body-font-weight,
), $bodyConfig)

